.about {
    height: 84vh;
    display: flex;
}

.about .menu {
    display: flex;
    align-items: center;
    gap: 33px;
    flex-direction: column;
    width: 5%;
    height: 100%;
    border-right: 1px solid #1E2D3D;
    border-left: 1px solid #1E2D3D;
    padding: 18px 0;
}

.about .folder-tab {
    width: 260px;
    height: 100%;
    border-right: 1px solid #1E2D3D;
}

.about .folder-tab .title {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    padding: 10px 80px 10px 34px;
    gap: 11px;
    border-bottom: 1px solid #1E2D3D;
}

.about .folder-tab .folder {
    padding: 10px 70px 10px 34px;
    border-bottom: 1px solid #1E2D3D;
}

.about .folder-tab .folder:last-child {
    border: none;
}

.about .folder-tab .folder .folder-item {
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 1.9;
    cursor: pointer;
}

.about .folder-tab .folder .file {
    padding-left: 18px;
}

.about .folder-main {
    width: 100%;
    height: 100%;
    border-right: 1px solid #1E2D3D;
}

.about header {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    gap: 45px;
    cursor: pointer;
    border-bottom: 1px solid #1E2D3D;
    border-right: 1px solid #1E2D3D;
}

.about header p {
    width: 220px;
    height: 100%;
    display: flex;
    gap: 45px;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #1E2D3D;
}

.about .text {
    height: 100%;
    display: flex;
}

.about .text .about-code {
    padding: 40px;
    height: 100%;
    overflow: scroll;
}

.about .blogs {
    width: 560px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.about .blogs .blog {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.about .blog .account {
    display: flex;
    align-items: center;
    gap: 20px;
}

.about .blog .account .comment {
    display: flex;
}

.about .blog .account .comment p {
    display: flex;
    align-items: center;
}

.about .blog .code-text {
    width: 500px;
    height: 200px;
    border-radius: 20px;
    background: #011221;
    padding: 20px;
}

.title-about {
    display: none;
}

@media screen and (max-width: 566px) {
    .about {
        display: flex;
        flex-wrap: wrap;
    }

    .about .menu {
        display: none;
    }

    .about .folder {
        display: none;
    }

    .about .folder-tab {
        width: 100%;
        border: none;
    }

    .about .folder-tab .title {
        border: none;
        background: #1e2d3d;
        margin: 5px 0;
    }

    .about-main header {
        border: none;
    }

    .about-main header p {
        display: none;
    }

    .about .text {
        display: flex;
        flex-wrap: wrap;
    }

    .blogs {
        overflow: visible;
    }

    .blogs>p {
        margin-left: 25px;
    }

    .account {
        display: flex;
    }

    .account .username h5 {
        font-size: 16px;
    }

    .about .blogs .blog {
        height: 200px;
    }

    .about .text .about-code {
        height: 400px;
    }

    .title-about {
        display: flex;
        padding: 20px;
        color: #fff;
    }
}

@media screen and (max-width: 767px) and (min-width: 566px) {
    .about {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .about .menu {
        display: none;
    }

    .about .folder {
        display: none;
    }

    .about .folder-tab {
        width: 100%;
        border: none;
    }

    .about .folder-tab .title {
        border: none;
        background: #1e2d3d;
        margin: 5px 0;
    }

    .about-main header {
        border: none;
    }

    .about-main header p {
        display: none;
    }

    .about .text {
        display: flex;
        flex-wrap: wrap;
    }

    .cm-scroller {
        font-size: 20px;
    }

    .title-about {
        display: flex;
        padding: 20px;
        color: #fff;
    }

    .about .blogs {
        width: 100%;
        border: 1px solid red;
        overflow: visible;
    }

    .blog {
        width: 100%;
        overflow: visible;
    }

    .cm-editor {
        width: 100%;
    }
}