.home {
    width: 100%;
    height: 84vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.home-mobile {
    display: none;
}

h5 {
    color: #E5E9F0;
    font-weight: 400;
    font-size: 18px;
}

h1 {
    color: #E5E9F0;
    font-weight: 400;
    font-size: 62px;
}

h3 {
    color: #4D5BCE;
    font-weight: 450;
    font-size: 32px;
    margin: 0 0 50px 0;
}

p {
    color: #607B96;
    font-size: 16px;
    line-height: 1.5;
}

.cm-scroller {
    font-size: 13px;
}

@media only screen and (max-width: 565px) {
    .home {
        display: none;
    }

    .home-mobile {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding: 40px;
        width: 100%;
        height: 100%;
    }

    .home-mobile h1 {
        line-height: 1.4;
        font-size: 40px;
    }

    .home-mobile h3 {
        font-size: 20px;
        color: #43d9ad;
        margin-bottom: 300px;
    }

    .home-mobile p {
        font-size: 14px;
    }
}

@media screen and (max-width: 767px) and (min-width: 566px){
    
    .home{
        display: none;
    }
    
    .home-mobile{
        width: 100%;
        height: 100%;
    }
}