.footer {
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 1px solid #1E2D3D;
    border-bottom: 1px solid #1E2D3D;
    position: fixed;
    bottom: 0;
}

.footer ul {
    display: flex;
    list-style: none;
}

.footer ul li {
    color: #607B96;
    padding: 17px 32px;
    border-right: 1px solid #1E2D3D;
    height: 55px;
    position: relative;
}

.footer ul li a {
    width: 100%;
    height: 100%;
    color: #607B96;
    position: absolute;
    padding: 17px 32px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .github {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    border-left: 1px solid #1E2D3D;
    width: 200px;
    height: 55px;
    position: absolute;
    padding: 17px 32px;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 566px) {
    .footer {
        display: none;
    }
}

@media screen and (max-width: 767px) and (min-width: 566px) {
    .footer {
        display: none;
    }
}

@media screen and (max-width: 991px) and (min-width: 767px) {
    .footer {
        display: none;
    }
}

@media screen and (max-width: 1199px) and (min-width: 991px){
    .footer{
        display: none;
    }
}